# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\javil\Documents\Clases\Organización de legunajes y compiladores 2\Laboratorio\Proyectos\Proyecto 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
